<div class="row">
  <div class="col">
    <h1 id="index-page">Join a Game</h1>
    <div id="form">
      <%= form_for @conn, "/game", [as: :param], fn f -> %>
      <%= label(f, :user, "Username") %>
      <%= text_input f, :game %>
      <%= submit "ENTER" %>
      <% end %>
    </div>
  </div>
</div>
